body {
    font-family: 'Dancing Script', cursive;
    background-color: #b8cae4;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    height: 100%;
    width: 100%;
    margin: 0;
   }
   .my-links a {
    text-decoration: none;
    margin-right: 7px;
    display: block;
    color: rgb(33, 33, 87);
   
   }
   .navbar {
       background-color: rgb(33, 33, 87);
   }
.name {
  
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.english {
    margin-top: 12px
}
.about-left {
    width: 70%;
    margin: 60px auto 60px auto;
    text-align: left;
    line-height: 1.5;
    clear: both;
}
.about-picture-left {
    width: 30%;
    float: left;
    margin-right: 5%;
    border-radius: 10%;

}
.about-right {
    width: 70%;
    margin: 60px auto 60px auto;
    text-align: left;
    line-height: 1.5;
    clear: both;
}
.about-right h2 {
    text-align: center;
    margin-bottom: 10px;

}
.about-left h2 {
    text-align: center;
    margin-bottom: 10px;
}
.about-picture-right {
    width: 30%;
    float: right;
    margin-left: 5%;
    border-radius: 10%;
}
hr {
    border: dotted white 5px;
    border-bottom: none;
    width: 5%;
    margin: 70px auto;
    clear: both;
}
.about-text-right {
    font-size: x-large;
    line-height: 2;
}
.about-text-left {
    font-size: x-large;
    line-height: 2;
}
.name a {
    text-decoration: none;
    color: white;
}
#navbarToggleExternalContent {
    background-color: white;
    opacity: 90%;
    border-radius: 4px;
}