body {
    font-family: 'Dancing Script', cursive;
    background: url('./avatar.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
   }
   .my-links a {
    text-decoration: none;
    margin-right: 7px;
    display: block;
   
   }
   .navbar {
       background-color: rgb(33, 33, 87);
   }
.name {
  
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.english {
    margin-top: 12px
}
.name a {
    text-decoration: none;
    color: white;
}
